@import "../../node_modules/bulma/sass/utilities/initial-variables";

$base-font-size: 16px;
$family-sans-serif: join('Ubuntu', $family-sans-serif);
$primary: #2D2B7B;
$secondary: #ED0075;
$font-color: #4A4A4A;
$body-color: $font-color;
$navbar-height: 100px;
